@import url( '//fonts.googleapis.com/css?family=Nunito|Trocchi|Alegreya+Sans' );

.font-primary, body { 
	font-family:  'Alegreya Sans', Arial, sans-serif;
}

.font-secondary,
.wp-caption-text,
.gallery-caption,
h3.widget-title {
	font-family:  font-family:  'Nunito', Arial, sans-serif;
}

.font-headlines,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Trocchi', Arial, sans-serif;
}

body.mceContentBody a {
color: #9e0061;
}